* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightblue;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 40px;
}

.flex {
  display: flex;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cursor {
  color: white;
}

.texture-selector {
  transform: scale(5);
  left: 47%;
}

.texture-selector img.active {
  border: 2px solid red;
}

.menu {
  top: 0px;
  left: 10px;
}

#pointer {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 6px black;
  opacity: 0.7;
}

.visible {
  display: block;
}

.visibleFlex {
  display: flex;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

li {
  margin-bottom: 0.1rem;
}




/* HELP */
.help {
  font-size: medium;
  background-color: darkslategray;
  color: #f5f5f5;
  padding: 10px 18px;
  border: 6px solid darkgray;
  opacity: 0.95;
}

.help ul{
  margin-top: 0px;
}

.helpMiniTitle {
  font-weight: bolder;
  color: black;
  background-color: #61ff9b;
}

.helpTitle {
  margin-top: 1.4rem;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
}

.helpMainTitle {
  font-size: 1.65rem;
  margin-top: 10px;
  margin-bottom: 0px;
}

.keysText {
  font-weight: bolder;
  color: black;
  background-color: orangered;
}

.mouseText {
  font-weight: bolder;
  color: black;
  background-color: #f0d400;
}

.flyText {
  font-weight: bolder;
  color: black;
  background-color: lightskyblue;
}

.helpDownText {
  color: #d10000;
  font-weight: bolder;
  font-size: small;

  bottom: 5px;
  right: 10px;
}

/* cubeSelection */

.cube-selection {
  bottom: 32px;
  background: #aaa;
  padding: 8px;
  border: 3px solid #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* display: flex; */
  min-width: 732px;
  gap: 10px;
  flex-flow: row wrap;
  justify-content: flex-start;
}

/* .cube-selection.hidden {
  display: none;
} */

.cube-selection img {
  width: 50px;
  height: 50px;
  z-index: 100;
  image-rendering: pixelated;
  border: 3px solid #000;
  /* flex: 1 0 8%; */
}

.cube-selection img.selected {
  border-color: red;
}

.numberOnCubeMenuContainer {
  color: #f20505;
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  height: 0px;
  /* min-height: 18.90px; */
}

.numberOnCubeMenu {
  position: relative;
  top: 4px;
  text-shadow: 2px 1px #262626;
}

.buttonDiv button, .buttonDiv input, .buttonDiv label {
  /* position: absolute; */
  float: left;
  clear: left;
}

.buttonDiv label {
  margin-top: 5px;
  font-size: small;
}